.login-container {
  min-height: 100vh;
  background-color: #000;
  max-width: 100%;
  // background-image: url("../../assets/images/abc.jpg") ;
  .login-card-wrapper {
    max-width: 500px;
  }
  .success-card-wrapper {
    max-width: 100%;
    height:100vh;
    .success-card {
      background-color: #292929 !important;
    }
  }
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
